<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap.rtl.min.css">
</head>
<body class="row">
<div class=" col-4 d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 380px">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">SberLibe</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#" class="nav-link link-dark active">
                <h5>Регестрация поступлений</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Зарегестрировать читателя</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Оформить книгу</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Книги на руках</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Должники</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Поиск по книге</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Поиск по Автору</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Поиск по Издательству</h5>
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Настройки</a></li>
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Выйти</a></li>
        </ul>
    </div>
</div>

<div class="col-8">
    <div class="align-content-center justify-content-center bg-body">
        <h4 class="text-center">Книга : </h4>
    </div>
    <div class="row-cols-2 m-3 ">
        <label for="nameBook" class="text-info">Введите наименование книги :</label>
        <h5 class="border border-3 border-primary text-center rounded-pill" id="nameBook">ggg</h5>
    </div>
    <div class="row-cols-2 m-3" >
        <label for="descriptionBook" class="text-info">Описание книги :</label>
        <h5 class="border border-3 border-primary text-center rounded-pill" id="descriptionBook">ggg</h5>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="priceBook" class="text-info">Цена книги :</label>
            <h5 class="border border-3 border-primary text-center rounded-pill" id="priceBook">ggg</h5>
        </div>
        <div class="col-4">
            <label for="pageBook" class="text-info">Количество страниц :</label>
            <h5 class="border border-3 border-primary text-center rounded-pill" id="pageBook">fdfd</h5>
        </div>
        <div class="col-4">
            <label for="countBook" class="text-info">Количество книг :</label>
            <h5 class="border border-3 border-primary text-center rounded-pill" id="countBook">fdfd</h5>
        </div>
    </div>

    <div class="align-content-center justify-content-center bg-body mt-5">
        <h4 class="text-center">Автор : </h4>
    </div>
    <div class="row m-3">
        <div class="col-4">
            <label for="nameAuthor" class="text-info">Инициалы автора :</label>
            <h5 class="border border-3 border-primary text-center rounded-pill" id="nameAuthor">fdfd</h5>
        </div>
        <div class="col-4">
            <label for="lastNameAuthor" class="text-info">Фамилия автора :</label>
            <h5 class="border border-3 border-primary text-center rounded-pill" id="lastNameAuthor">fdfd</h5>
        </div>
    </div>

    <div class="align-content-center justify-content-center bg-body mt-5">
        <h4 class="text-center">Издательство : </h4>
    </div>
    <div class="row-cols-2 m-3 ">
        <label for="namePublisher" class="text-info">Введите наименование издательского дома :</label>
        <h5 class="border border-3 border-primary text-center rounded-pill" id="namePublisher">fdfd</h5>
    </div>
    <div class="row m-3">
        <div class="col-8">
            <label for="addressPublisher" class="text-info">Адресс издательского дома :</label>
            <h5 class="border border-3 border-primary text-center rounded-pill" id="addressPublisher">fdfd</h5>
        </div>
        <div class="col-4">
            <label for="phonePublisher" class="text-info">Контактный телефон :</label>
            <h5 class="border border-3 border-primary text-center rounded-pill" id="phonePublisher">fdfd</h5>
        </div>
    </div>


    <div class="row align-content-center justify-content-around">
        <button class=" col-3 btn btn-warning align-content-center justify-content-center mt-lg-5" type="submit">Нет, отредактировать</button>
        <form th:method="POST" th:action="@{checkRegistryBook}">
            <input class=" col-3 btn btn-success align-content-center justify-content-center mt-lg-5" type="submit" >Да, всё верно</input>
        </form>
    </div>

</div>

<script src="/static/bootstrap.min.js"></script>

</body>
</html>