<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap.rtl.min.css">
</head>
<body class="row">
<div class=" col-4 d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 380px">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">SberLibe</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#" class="nav-link link-dark active">
                <h5>Регестрация поступлений</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Зарегестрировать читателя</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Оформить книгу</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Книги на руках</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Должники</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Поиск по книге</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Поиск по Автору</h5>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <h5>Поиск по Издательству</h5>
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Настройки</a></li>
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Выйти</a></li>
        </ul>
    </div>
</div>

<div class="col-8">

</div>

<script src="/static/bootstrap.min.js"></script>

</body>
</html>